<div class="maincontent">

    <article class="article">
        <h1 class="article-title">About Choudharys</h1>
        <p>Hi friends, this is our friends official site through this
            anyone can contact me anytime anywhere we are friends cum brothers
            we know each other from chidhood we studied together in a same school
            we are all together from last 17 years </p>
    </article><!-- article -->


</div>